<div class="about-section">
    <h1>Sobre a <span class="logo-in-text">❤️ sharity</span></h1>
    <p>A Sharity é uma organização sem fins lucrativos que visa completamente o lucro. O nosso objetivo é ser um intermediário entre doadores e organizações que precisam de doações</p>
    <p class="creator-credits">Projeto criado por: <a href="https://github.com/povyouareme/" target="_blank">Gabriel Meira</p>
</div>
