<div class="organization-card" onclick="window.location.href = '/organization/<%= org.id %>'">
    <div class="organization-image" style="background-image: url('<%= org.image %>')"></div>
    <div class="organization-info">
        <h1 class="organization-title"><%= org.name %></h1>
        <p class="organization-desc"><%= org.mission %></p>
    </div>
</div>